@model ImageServerWeb.Models.ImagesModel
@{
    ViewBag.Title = "Images";
}

<link href="~/Content/bootstrap-journal.css" rel="stylesheet" type="text/css" />


@for(int i=0;i<@Model.Images.Count;i++){
<div class="card mb-3" style="max-width: 20rem; float: left; max-height: 40rem;" >
	<h3 class="card-header">@Model.Images[i].Name</h3>
	<div class="card-body">
	</div>
	
    <img src="data:image/gif;base64,@Model.Base64(@Model.Images[i].Path)" class="img-circle" alt=@Model.Images[i].Name>
    <canvas id="myCanvas"> </canvas>
	<div class="card-body">
		<p class="card-text">@Model.Images[i].Date</p>
	</div>
	<div class="card-body">
		<button type="button" class="btn btn-info" id="View" style="margin:10px">View </button>
		<button type="button" class="btn btn-primary" id="Remove" style="margin:10px"> @Html.ActionLink("Remove", "RemoveImage",new { id = i }) </button>
	</div>
</div>


<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
var img = document.getElementById("preview");
ctx.drawImage(img, 10, 10);
alert(c.toDataURL());
</script>

										 }
