@model ImageServerWeb.Models.ConfigModel
@{
    ViewBag.Title = "RemoveHandler";
}

<link href="~/Content/bootstrap-journal.css" rel="stylesheet" type="text/css" />


<h2 id="remove">RemoveHandler</h2>
<button type="button" class="btn btn-primary" id="ok" style="margin:10px">ok </button>
<button type="button" id="cancel" class="btn btn-secondary" style="margin:10px">cancel </button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
    $(document).ready(function() {

        $("#ok").click(function (e) {
            e.preventDefault();
            $("#ok").attr("disabled", true);
            $("#cancel").attr("disabled", true);
            var varUrl = '@Url.Action("RemoveHandlerOk","Home")';
            window.location.href = varUrl;

        });

        $("#cancel").click(function(e) {
            var varUrl = '@Url.Action("Config","Home")';
            window.location.href = varUrl;
        });
    });

</script>